#container {
    font-size: 13pt;
    line-height: 1.5em;
    display: block;
    width: 920px;
    height: 500px;
    position: absolute;
    top: 300px;
    left: 550px;
    border: 0;
    background-color: rgba(255,255,255,0.8);
}
#chapterlist {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 20%;
    border-right: 1px solid black;
    overflow-y: auto;
}
#chaptertext {
    width: 80%;
    height: 100%;
    border: 0;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    padding-right: 1em;
    padding-left: 1em;
}
nav > ul {
    list-style: none;
    margin: 0.5em;
}
nav > ul > li {
    margin-left: -2.5em;
    padding-left: 2em;
    text-indent: -1.5em;
}
nav > ul > li > a::before {
    content: '📄 ';
}
.current {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.current::before {
    content: '📑 ';
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    /* white-space: nowrap; */
}

#close {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;
}

#buttonClose {
    font-size: 24px;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    color: white;
}
#buttonClose:hover {
    color: red;
}

.hidden {
    visibility: hidden !important;
}

.hotkey {
    color: #181860;
    text-shadow: 0px 0px 5px rgba(80, 186, 255, 1);
    font-weight: bold;
}

code {
    font-family: monospace;
    font-size: 1.2em;
    color: #181840;
}

.prettyScrollbar::-webkit-scrollbar {
    width: 10px;
    background-color:  rgba(255,255,255,0);
}
.prettyScrollbar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

.prettyScrollbar::-webkit-scrollbar-track {
	background-color: transparent;
}